<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.spring.dao.lsd.Calendar_fDao">
	<resultMap type="calendar_f" id="calRst">
		<result column="startdate" property="start" />
		<result column="enddate" property="end" />
		<result column="urllink" property="urlLink" />
	</resultMap>

	<!-- 프로젝트별로 캘린더 조회 -->
	<select id="getCalList_all" resultMap="calRst">
		SELECT *
		FROM calendar_f
		WHERE pcode = #{pcode}
  		AND (empno = #{empno} OR auth = '관리자')
	</select>
	<!-- 등록 -->
	<insert id="insertCalendar" parameterType="Calendar_f">
		INSERT INTO Calendar_f values(cal_seq.nextval, #{title},
		#{start},
		#{end},
		#{writer},#{content},#{backgroundColor},
		#{textColor},#{allDay},#{urlLink},#{auth},#{pcode},#{empno})
	</insert>

	<!-- <insert id="insertCalendar" parameterType="calendar_f"> INSERT INTO 
		Calendar_f values(cal_seq.nextval, #{title}, to_date(#{start},'YYYY-MM-DD"T"HH24:MI:SS"+09:00"'), 
		to_date(#{end},'YYYY-MM-DD"T"HH24:MI:SS"+09:00"'), #{writer},#{content},#{backgroundColor}, 
		#{textColor},#{allDay},#{urlLink}) </insert> -->
</mapper>